[mysqld]
user=mysql

datadir=/var/lib/mysql/data
basedir=/opt/rh/mysql55/root/usr
plugin-dir=/opt/rh/mysql55/root/usr/lib64/mysql/plugin

general_log=ON

socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve
