on:
  issue_comment:
    types:
      - created
jobs:
  check-readme:
    uses: "sclorg/ci-actions/.github/workflows/check-readme.yml@main"
  container-tests:
    needs: check-readme
    uses: "sclorg/ci-actions/.github/workflows/container-tests.yml@main"
    with:
      enabled-tests: '["container","openshift-4","openshift-pytest"]'
      versions: '[ "8.0", "8.4" ]'
      openshift-versions: '[ "8.0", "8.4" ]'
    secrets: inherit
